.error-message {
  color: darkred;
  font-size: larger;
  width: 90%;
}
.error-message * {
  border: darkred 3px solid;
  background-color: lightcoral;
  padding: 10px;
  text-align: center;
}