nav {
  /* box-sizing: border-box; */
  height: 90px;
  padding-bottom: 5px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav span {
  display: flex;
  font-family: 'Bungee', cursive;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 0.15em;
  font-size: 60px;
}
nav svg {
  color: red;
  height: 1em;
}
nav .nav-new {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 0.3em;
}