.new-tweet {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 90%;
}
.tweet-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:black solid 3px;
}
.tweet-a form {
  width: 100%;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}
.tweet-b {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  position: relative;
  top: 10px;
}
.new-tweet button {
  background-color: darkblue;
  color: white;
}
.new-tweet output[excess=true] {
  color: red;
}
.new-tweet textarea {
  flex-grow: 1;
  background-color: #f4f1ec;
  outline: none;
  border: none;
}
.new-tweet img.example {
  display: flex;
  flex-direction:column;
  align-self: center;
  width:550px;
}