.new-tweet {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.tweet-a {
  display: flex;
  border-bottom:black solid 3px;
}
.tweet-b {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  position: relative;
  top: 10px;
}
button {
  background-color: darkblue;
  color: white;
}
output[excess=true] {
  color: red;
}

textarea {
  background-color: #f4f1ec;
  border: 0px;
}
img.example {
  display: flex;
  flex-direction:column;
  align-self: center;
  width:550px;
}